<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script>
        var customerCart = <%- JSON.stringify(customerCart) %>;
    </script>
</head>
<body>
<% customerCart.cart.forEach(function(food) { %>
<li><%= food.fooditem %></li>
<ul><li>Price: <%= food.price %></li></ul><br>
<script>total = total + <%-food.price%> </script>
<% }); %>
</body>
</html>