<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> <!-- So you need jquery to do the ajax command make sure this is in all ejs files -->
    <script src='./javascripts/menu.js' type="text/javascript"></script>
    <script>
        //So Now You can access the menuitems you send to this page in your pages javascript to run functions ect...
        var menuitems = <%- JSON.stringify(menuitems) %>;
        var customerCart = <%- JSON.stringify(customerCart) %>;
        //Also included is now you have access to menu.js from public
    </script>
</head>
<body>

<% include templates/header.ejs %>
    <h1><%= title %></h1>
    <h2><input id="addtocart" type="button" value="Here?" onclick="heretogo('HERE')" />
    or
    <input id="addtocart" type="button" value="To-Go?" onclick="heretogo('TO GO')" /></h2>
    <h3>Appetizers</h3>
    <% menuitems.Appetizers.forEach(function(food) { %>
        <li><%= food.item %></li>
        <input id="addtocart" type="button" value="send to kitchen" onclick="addItem('<%=food.item %>', '<%= food.price %>')" />
        <ul>
            <li>Description: <%= food.categoryDescription %></li><br>
            <li>Calories: <%= food.calories %></li><br>
            <li>Price: <%= food.price %></li><br>
        </ul>
    <% }); %>

    <h3>Entrees</h3>
    <% menuitems.Entrees.forEach(function(food) { %>
    <li><%= food.item %></li>
    <input id="addtocart" type="button" value="send to kitchen" onclick="addItem('<%=food.item %>', '<%= food.price %>')" />
    <ul>
        <li>Description: <%= food.categoryDescription %></li><br>
        <li>Calories: <%= food.calories %></li><br>
        <li>Price: <%= food.price %></li><br>
    </ul>
    <% }); %>

    <h3>Kid Meals</h3>
    <% menuitems.Kids.forEach(function(food) { %>
    <li><%= food.item %></li>
    <input id="addtocart" type="button" value="send to kitchen" onclick="addItem('<%=food.item %>', '<%= food.price %>')" />
    <ul>
        <li>Description: <%= food.categoryDescription %></li><br>
        <li>Calories: <%= food.calories %></li><br>
        <li>Price: <%= food.price %></li><br>
    </ul>
    <% }); %>

    <h3>Desserts</h3>
    <% menuitems.Desserts.forEach(function(food) { %>
    <li><%= food.item %></li>
    <input id="addtocart" type="button" value="send to kitchen" onclick="addItem('<%=food.item %>', '<%= food.price %>')" />
    <ul>
        <li>Description: <%= food.categoryDescription %></li><br>
        <li>Calories: <%= food.calories %></li><br>
        <li>Price: <%= food.price %></li><br>
    </ul>
    <% }); %>

    <h3>Drinks</h3>
    <% menuitems.Drinks.forEach(function(food) { %>
    <li><%= food.item %></li>
    <% var today = new Date().getHours();%>
    <% if(today >= 16 && today <= 19){ %>
        <input id="addtocart" type="button" value="send to kitchen" onclick="addItem('<%=food.item %>', '<%= food.price/2 %>')" />
    <% } else {%>
        <input id="addtocart" type="button" value="send to kitchen" onclick="addItem('<%=food.item %>', '<%= food.price %>')" />
    <% } %>
    <ul>
        <li>Calories: <%= food.calories %></li><br>
        <% var today = new Date().getHours();%>
        <% if(today >= 16 && today <= 19){ %>
            <li>Price: <%= food.price/2 %></li><br>
        <% } else {%>
            <li>Price: <%= food.price %></li><br>
        <% } %>
    </ul>
    <% }); %>
</body>
</html>